// Grid
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Fonts
$font: "PTSans-Caption", sans-serif;

//Colors
$black: #000000;
$white: #ffffff;
$main-color: #282627;
$transparent: transparent;

//Other
$nav-height: 60px;