.advertising {
  max-height: 200px;
  margin-bottom: 55px;
  background: $green;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.advertising--close {
  max-height: 0;
  margin-bottom: 0;
}

.advertising__container {
  @include container();
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.advertising__close {
  position: absolute;
  z-index: 10;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  font-size: 0;
  svg {
    width: 100%;
    height: 100%;
    fill: $white;
    cursor: pointer;
  }
  svg:hover {
    fill: $main-color;
  }
  @media (min-width: $md) {
    width: auto;
    height: auto;
    font-family: $font;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.85;
    color: $white;
    cursor: pointer;
    svg {
      display: none;
    }
  }
}

.advertising__close:hover::before {
  @media (min-width: $md) {
    @include pseudo();
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px currentColor dotted;
    opacity: 0.5;
  }
}