.article {
  margin-bottom: 20px;
  @media (min-width: $lg) {
    margin-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }
  @media (min-width: $xl) {
    margin-bottom: 50px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.article__container {
  width: 100%;
  height: 125px;
  border-radius: 10px;
  background-color: #f7f7f7;
  overflow: hidden;
  border-radius: 10px;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  border: 1px solid $transparent;
  @media (min-width: $sm) {
    height: 113px;
  }
  @media (min-width: $md) {
    height: 285px;
  }
  @media (min-width: $xl) {
    height: 330px;
  }
}

.article__container:hover {
  box-shadow: 0 0 25px 0 #6090e080;
  border-color: #6090e061;
}

.article__link {
  display: block;
  height: 100%;
  width: 100%;
  padding: 13px;
  position: relative;
  @media (min-width: $sm) {
    padding: 13px 13px 13px 195px;
  }
  @media (min-width: $md) {
    padding: 163px 13px 13px 13px;
  }
  @media (min-width: $xl) {
    padding: 185px 20px 20px 20px;
  }
}

.article__img {
  display: none;
  @media (min-width: $sm) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 195px;
    height: 113px;
    background: url("../img/bg/article__1.jpg") no-repeat;
    background-size: cover;
  }
  @media (min-width: $md) {
    width: 100%;
    height: 150px;
  }
  @media (min-width: $xl) {
    height: 165px;
  }
}

.article__title {
  @include field-reset();
  //margin-bottom: 23px;
  max-height: 38px;
  overflow: hidden;
  font-family: $font;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: $main-color;
  transition: color 0.3s ease;
  @media (min-width: $sm) {
    //margin-bottom: 11px;
    padding-left: 13px;
    font-size: 13px;
  }
  @media (min-width: $md) {
    max-height: 93px;
    padding-left: 0;
    font-size: 17px;
  }
  @media (min-width: $xl) {
    max-height: 97px;
  }
}

.article__title:hover {
  color: $hovers;
}

.article__btn {
  display: block;
  width: 152px;
  padding: 7px 5px;
  margin: 0 auto;
  font-family: $font;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.85;
  color: $main-color;
  text-align: center;
  background: $article-btn;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.article__btn:hover {
  background: #acc7f4;
}

//------ROW-article
.articles--row {
  @media (min-width: $md) {
    .article {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
      width: 100%;
      max-width: none;
      margin-bottom: 3px;
    }
    .article:last-child {
      margin-bottom: 40px;
    }
    .article__container {
      height: 50px;
      box-shadow: none;
    }
    .article__link {
      padding: 10px 30px;
    }
    .article__img {
      display: none;
    }
    .article__title {
      height: 24px;
      margin-left: 0;
      padding-left: 0;
      font-size: 16px;
      text-align: left;
    }
    .article__btn {
      margin: 0 0 0 20px;
    }
  }
}