.articles {

}

.articles__captions {
  @include container();
  margin: 0 auto;
}

.articles__back {
  display: none;
  @media (min-width: $sm) {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $main-color;
    background: $white;
    font-size: 0;
  }
}

.articles__back:hover {
  opacity: 0.6;
}

.articles__back::before {
  @include pseudo();
  width: 16px;
  height: 16px;
  left: 9px;
  top: 11px;
  border: 2px solid $main-color;
  border-right: 2px solid $transparent;
  border-top: 2px solid $transparent;
  transform: rotate(45deg);
}

.articles__back::after {
  @include pseudo();
  width: 24px;
  height: 2px;
  top: 18px;
  left: 9px;
  background: $main-color;
}

.articles__title {
  @include field-reset();
  margin-bottom: 35px;
  display: inline-block;
  position: relative;
  font-family: $font;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 400;
  color: $main-color;
  @media (min-width: $sm) {
    font-size: 26px;
  }
}

.articles__list-type {
  display: none;
  @media (min-width: $md) {
    @include container();
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: flex-end;
    padding: 0 $container-padding;
  }
}

.articles__list-type-text {
  margin-right: 10px;
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  color: $main-color;
}

.articles__list-type-view {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 10px;
  svg {
    cursor: pointer;
    fill: $silver;
    transition: fill 0.3s ease;
  }
  svg:hover {
    fill: $hovers;
  }
}

.articles__list-type-view.active {
  svg,
  svg:hover {
    cursor: default;
    fill: $main-color;
    transition: none;
  }
}

.articles__list-type-view:last-child {
  margin-right: 0;
}

.articles__container {
  @include container();
  padding: 0;
  overflow: hidden;
}

.articles__list {
  @include order-reset();
  margin-bottom: -20px;
  padding-bottom: 30px;
  @media (min-width: $lg) {
    margin: 0 -5px;
    margin-bottom: -40px;
    padding-bottom: 40px;
  }
  @media (min-width: $xl) {
    margin: 0 -10px;
    margin-bottom: -50px;
    padding-bottom: 50px;
  }
}