.article {
  margin-bottom: 20px;
  @media (min-width: $lg) {
    margin-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }
  @media (min-width: $xl) {
    margin-bottom: 50px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.article__container {
  width: 100%;
  //height: 125px;
  border-radius: 10px;
  background-color: $article-bg;
  overflow: hidden;
  border-radius: 10px;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  border: 1px solid $transparent;
  @media (min-width: $sm) {
    //height: 113px;
  }
  @media (min-width: $md) {
    //height: 285px;
  }
  @media (min-width: $xl) {
    //height: 330px;
  }
}

.article__container:hover {
  box-shadow: 0 0 25px 0 #6090e080;
  border-color: #6090e061;
}

.article__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 13px;
  position: relative;
  @media (min-width: $sm) {
    //padding: 13px 13px 13px 195px;
  }
  @media (min-width: $md) {
    //padding: 163px 13px 13px 13px;
  }
  @media (min-width: $xl) {
    //padding: 185px 20px 20px 20px;
  }
}

.article__img {
  margin: -13px -13px 0 -13px;
  order: -1;
  img {
    width: 100%;
    height: auto;
  }
}

.article__title {
  @include field-reset();
  padding: 15px 5px;
  height: 90px;
  overflow: hidden;
  font-family: $font;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;
  color: $main-color;
  transition: color 0.3s ease;
  @media (min-width: $md) {
    height: 110px;
    font-size: 17px;
  }
  @media (min-width: $lg) {
    height: 125px;
  }
  @media (min-width: $xl) {
    height: 110px;
    font-size: 15px;
  }
}

.article__title:hover {
  color: $hovers;
}

.article__text {
  display: none;
}

.article__btn {
  display: block;
  width: 152px;
  padding: 7px 5px;
  margin: 0 auto;
  font-family: $font;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.85;
  color: $main-color;
  text-align: center;
  background: $article-btn;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.article__btn:hover {
  background: #acc7f4;
}

//------ROW-article
.articles--row {
  .article {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 100%;
    max-width: none;
    margin-bottom: 3px;
  }
  .article:last-child {
    margin-bottom: 40px;
  }
  .article__container {
    height: 60px;
    box-shadow: none;
    @media (min-width: $sm) {
      height: 50px;
    }
  }
  .article__link {
    padding: 10px 20px;
    @media (min-width: $lg) {
      padding: 10px 30px;
    }
  }
  .article__img {
    display: none;
  }
  .article__title {
    height: 100%;
    margin-left: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.6;
    text-align: left;
    @media (min-width: $sm) {
      line-height: 28px;
    }
    @media (min-width: $md) {
      font-size: 16px;
    }
  }
  .article__btn {
    margin: 0 0 0 20px;
  }
}

//------MIXED-ROW-article
.articles--mixed-row {
  @media (min-width: $md) {
    .article {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
      width: 100%;
      max-width: none;
      margin-bottom: 30px;
    }
    .article__container {
      height: 168px;
    }
    .article__link {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 20px 20px 298px;
    }
    .article__img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 298px;
      height: 168px;
      margin: 0;
    }
    .article__title {
      height: 30px;
      margin-left: 20px;
      padding: 0;
      font-size: 19px;
    }
    .article__text {
      @include field-reset();
      position: relative;
      height: 75px;
      overflow: hidden;
      margin-left: 20px;
      display: block;
      font-family: $font;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      color: $main-color;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    .article__btn {
      margin: 0 0 0 20px;
    }
  }
}