.article-page {
  margin-bottom: 55px;
}

.article-page__captions {
  @include container();
  margin: 0 auto;
}

.article-page__back {
  display: none;
  @media (min-width: $sm) {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $main-color;
    background: $white;
    font-size: 0;
  }
}

.article-page__back:hover {
  opacity: 0.6;
}

.article-page__back::before {
  @include pseudo();
  width: 16px;
  height: 16px;
  left: 9px;
  top: 11px;
  border: 2px solid $main-color;
  border-right: 2px solid $transparent;
  border-top: 2px solid $transparent;
  transform: rotate(45deg);
}

.article-page__back::after {
  @include pseudo();
  width: 24px;
  height: 2px;
  top: 18px;
  left: 9px;
  background: $main-color;
}


.article-page__container {
  @include container();
  margin: 0 auto;
}

.article-page__title {
  @include field-reset();
  margin-bottom: 35px;
  display: inline-block;
  position: relative;
  font-family: $font;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 400;
  color: $main-color;
  @media (min-width: $sm) {
    font-size: 26px;
  }
}

.article-page__img {
  img {
    margin-bottom: 25px;
  }
}

.article-page__text {
  @include field-reset();
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $main-color;
  p {
    @include field-reset();
    margin-bottom: 15px;
  }
}

.article-page__text-title {
  @include field-reset();
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  @media (min-width: $sm) {
    font-size: 26px;
  }
}

.article-page__text-link {
  color: $hovers;
}

.article-page__text-link:hover {
  color: inherit;
}

.article-page__lie-text-title {
  @include field-reset();
  margin-bottom: 17px;
  font-size: 20px;
  font-weight: 400;
  @media (min-width: $sm) {
    font-size: 20px;
  }
}