.btn {
  display: inline-block;
  padding: 10px;
  font-family: $font;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15;
  text-align: center;
  color: $white;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid $white;
  border-radius: 10px;
  transition: border-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  border-color: $hovers;
  color: $hovers;
}

.btn:first-letter {
  text-transform: uppercase;
}

.btn--nav {
  flex-shrink: 0;
  height: 37px;
  width: 30%;
  min-width: 100px;
  max-width: 235px;
  margin-top: 13px;
  margin-bottom: 13px;
  span {
    display: none;
  }
  @media (min-width: $md) {
    margin-bottom: 0;
    flex-grow: 1;
    span {
      display: inline;
    }
  }
}

.btn--show-article {
  display: block;
  width: 218px;
  margin: 0 auto 30px auto;
  color: $main-color;
  border-color: $main-color;
  @media (min-width: $lg) {
    margin-bottom: 40px;
  }
  @media (min-width: $xl) {
    margin-bottom: 50px;
  }
}

.btn--footer {
  display: block;
  margin: 0 auto;
  max-width: 230px;
  color: $main-color;
  border-color: $main-color;
}