.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: auto;
  margin: 0 auto;
  //overflow: hidden;
  background: $black;
}

.header__container {
  @include container();
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
}

.header__logo {
  width: 100px;
  padding-top: 13px;
  @media (min-width: $md) {
    width: 120px;
    padding-top: 10px;
  }
}

.header__logo-link {
  display: block;
  svg {
    width: 100%;
    fill: $white;
    transition: fill 0.3s ease;
  }
  svg:hover {
    fill: $hovers;
  }
}

.header__panel {
  display: flex;
  flex-wrap: wrap;
  order: 1;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 37px;
  margin-bottom: 13px;
  @media (min-width: $md) {
    flex-grow: 1;
    order: 0;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: 10px;
  }
}

.header__icon {
  flex-shrink: 0;
  margin-top: 4px;
  padding: 1px 6px;
  font-size: 0;
  width: 30px;
  height: 30px;
  background: $transparent;
  border: none;
  cursor: pointer;
  @media (min-width: $md) {
    margin-top: 15px;
    width: 35px;
    height: 35px;
  }
  svg {
    width: 100%;
    height: 100%;
  }
}

.header__search {
  @include placeholder {
    color: $white;
  }
  @include placeholder-f {
    color: $logo-color;
  }
  display: inline-block;
  width: 70%;
  height: 37px;
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  background: $black;
  border: 1px solid $white;
  border-radius: 10px;
  font-family: $font;
  line-height: 1.15;
  font-size: 13px;
  font-weight: 400;
  color: $white;
  @media (min-width: $md) {
    margin-top: 13px;
    width: 75%;
    flex-grow: 0;
  }
}

.header__search:focus {
  outline: none;
  border-color: $hovers;
}

.header__form-push {
  order: -1;
  margin-right: 10px;
  svg {
    width: 100%;
    height: 100%;
    stroke: $white;
    transition: stroke 0.3s ease;
  }
  svg:hover {
    stroke: $hovers;
  }
}

.header__tog-search {
  svg:not(.header__search-icon) {
    width: 100%;
    height: 100%;
    fill: $white;
    transition: fill 0.3s ease;
  }
  svg:not(.header__search-icon):hover {
    fill: $hovers;
  }
  .header__search-icon {
    width: 100%;
    height: 100%;
    stroke: $white;
    transition: stroke 0.3s ease;
  }
  .header__search-icon:hover {
    stroke: $hovers;
  }
}

.header__links-block {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  @media (min-width: $md) {
    flex-grow: 0;
  }
}

.header__nav-tog {
  margin-top: 15px;
  margin-right: 10px;
  svg {
    width: 100%;
    height: 100%;
    fill: $white;
    transition: fill 0.3s ease;
  }
  svg:hover {
    fill: $hovers;
  }
}

//До md панель поиска с дизайнескими изысками
@media (max-width: $md) {
  .header--search-move {
    .header__panel {
      order: 0;
      width: auto;
      flex-grow: 1;
    }
    .header__tog-search {
      margin-top: 15px;
    }
    .header__links-block {
      flex-grow: 0;
    }
  }
}