.navigation {}

//------body-nav
.navigation--header {
  max-height: 0;
  transition: max-height 0.5s linear;

  display: block;
  position: relative;
  order: 1;
  width: 100%;
  flex-grow: 1;
  margin: 0 (-$container-padding);
  background: $white;
  @media (min-width: $md) {
    order: 0;
  }
  @media (min-width: $xl) {
    flex-grow: 1;
    background: $white;
    overflow: hidden;
  }
  &::after {
    @media (min-width: $xl) {
      @include pseudo();
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 100vw;
      background: $white;
      transform: translateX(-50%);
    }
  }
  .navigation__list {
    @include order-reset();
    @media (min-width: $xl) {
      @include container();
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      transform: translateY(-50px);
      transition: transform 0.5s ease;
    }
  }
  .navigation__list::before {
    @media (min-width: $xl) {
      @include pseudo();
      right: $container-padding;
      bottom: 0;
      left: $container-padding;
      border-bottom: 1px solid $main-color;
    }
  }

  .navigation__item {
    position: relative;
    padding: 0;
    min-height: 45px;
    flex-grow: 1;
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    text-align: left;
    color: $main-color;
    @media (min-width: $xl) {
      padding: 0 5px;
      text-align: center;
    }
    &:hover {
      color: $hovers;
    }
    &::before {
      @media (min-width: $xl) {
        @include pseudo();
        z-index: 10;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: $transparent;
        transition: background 0.3s ease;
      }
    }
    &:hover::before {
      background: $hovers;
    }
  }

  .navigation__item-link {
    display: block;
    padding: 0 15px;
    border-bottom: 1px solid transparentize($black, 0.9);
    transition: color 0.3s ease;
    @media (min-width: $xl) {
      display: inline;
      padding: 0;
      border-color: $transparent;
    }
    &:hover {
      border-bottom: 1px solid transparentize($black, 0.75);
      color: $hovers;
      @media (min-width: $xl) {
        border-color: $transparent;
      }
    }
  }

  .navigation__item.active {
    color: $main-color;
    @media (min-width: $xl) {
      font-weight: 700;
    }
    &:hover {
      color: $main-color;
      cursor: default;
    }
    &::before,
    &:hover::before {
      background: $main-color ;
      transition: none;
    }
    .navigation__item-link {
      color: currentColor;
      cursor: default;
      transition: none;
    }
    .navigation__item-link:hover {
      border-bottom: 1px solid transparentize($black, 0.9);
      @media (min-width: $xl) {
        border-color: $transparent;
      }
    }
  }
}

//------body-nav
.navigation--body {
  //display: none;
  @media (min-width: $xl) {
    display: block;
    padding-bottom: 20px;
  }
  .navigation__open-nav {
    display: block;
    margin: 0 auto;
    padding: 0 10px;
    width: 60%;
    max-width: 500px;
    min-width: 290px;
    height: 45px;
    border: 1px solid $main-color;
    border-radius: 5px;
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    color: $main-color;
    text-align: left;
    background: $transparent;
    @media (min-width: $xl) {
      display: none;
    }
  }
  .navigation__list {
    @include order-reset();
    @media (min-width: $xl) {
      @include container();
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
    }
  }
  .navigation__list::before {
    @media (min-width: $xl) {
      @include pseudo();
      right: $container-padding;
      bottom: 0;
      left: $container-padding;
      border-bottom: 1px solid $main-color;
    }
  }
  .navigation__item {
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    color: $main-color;
    text-align: left;
    @media (min-width: $xl) {
      position: relative;
      padding: 0 5px;
      min-height: 45px;
      flex-grow: 1;
      text-align: center;
    }
    &:hover {
      @media (min-width: $xl) {
        color: $hovers;
      }
    }
    &::before {
      @media (min-width: $xl) {
        @include pseudo();
        z-index: 10;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: $transparent;
        transition: background 0.3s ease;
      }
    }
    &:hover::before {
      @media (min-width: $xl) {
        background: $hovers;
      }
    }
  }

  .navigation__item-link {
    display: block;
    height: 100%;
    width: 100%;
    @media (min-width: $xl) {
      display: inline;
      height: auto;
      width: auto;
      padding: 0;
      border-bottom: 1px solid $transparent;
      transition: color 0.3s ease;
    }
    &:hover {
      @media (min-width: $xl) {
        color: $hovers;
      }
    }
  }

  .navigation__item.active {
    @media (min-width: $xl) {
      font-weight: 700;
    }
    &:hover {
      @media (min-width: $xl) {
        color: $main-color;
        cursor: default;
      }
    }
    &::before,
    &:hover::before {
      @media (min-width: $xl) {
        background: $main-color ;
        transition: none;
      }
    }
    .navigation__item-link {
      @media (min-width: $xl) {
        color: currentColor;
        cursor: default;
        transition: none;
      }
    }
    .navigation__item-link:hover {
      border-bottom: 1px solid transparentize($black, 0.9);
      @media (min-width: $xl) {
        border-color: $transparent;
      }
    }
  }
}

//------footer-nav
.navigation--footer {
  display: none;
  margin-bottom: 10px;
  @media (min-width: $md) {
    display: block;
    margin-bottom: 0;
  }
  .navigation__list {
    @include container(0, none, 0, 0);
    display: block;
    text-align: center;
    font-size: 0;
    @media (min-width: $md) {
      max-width: 400px;
      min-width: 315px;
      margin: 0 auto;
    }
  }
  .navigation__list::before {
    display: none;
  }
  .navigation__item {
    display: inline-block;
    width: 50%;
    padding: 10px 5px;
    min-height: 0;
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.15;
    text-align: center;
    color: $main-color;
    @media (min-width: $md) {
      text-align: left;
    }
  }
  .navigation__item-link {
    font-family: $font;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15;
    color: $main-color;
    transition: color 0.3s ease;
    @media (min-width: $lg)  {
      font-size: 16px;
    }
  }
  .navigation__item-link:hover {
    color: $hovers;
  }
  .active,
  .active:hover {
    color: $main-color;
    font-weight: 700;
    .navigation__item-link {
      color: $main-color;
      cursor: default;
    }
  }
}

//------анимация открытия навигации
.navigation--open {
  max-height: 100vh;
  transition: max-height 0.5s linear;
  .navigation__list {
    @media (min-width: $xl) {
      transform: translateY(0px);
      transition: transform 0.5s ease;
    }
  }
}