.search {}

.search__container {
  @include container();
  margin: 0 auto;
  padding-bottom: 20px;
}

.search__title {
  @include field-reset();
  padding: 40px 15px 15px 15px;
  border-bottom: 1px solid $main-color;
  text-transform: uppercase;
  font-family: $font;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: $main-color;
}