.social {
  @media (min-width: $md) {
    padding-top: 11px;
  }
  @media (min-width: $lg) {
    padding-top: 7px;
  }
}

.social__title {
  @include field-reset();
  margin-bottom: 22px;

  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $main-color;
  text-align: center;
  @media (min-width: $md) {
    text-align: left;
    font-size: 13px;
  }
  @media (min-width: $lg) {
    font-size: 16px;
  }
}

.social__list {
  @include order-reset();
  text-align: center;
  font-size: 0;
  @media (min-width: $md) {
    text-align: left;
  }
}

.social__item {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 25px;
  @media (min-width: $sm) {
    width: 42px;
    height: 42px;
  }
  @media (min-width: $md) {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  @media (min-width: $xl) {
    width: 42px;
    height: 42px;
    margin-right: 25px;
  }
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  svg {
    stroke: $main-color;
    width: 100%;
    height: 100%;
    transition: stroke 0.3s ease;
  }
  svg:hover {
    stroke: $hovers;
  }
}